body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #007BFF;
}

.summary {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 150px;
}